@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #000000;
  color: #c9c9c9;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background: #000;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  background: #000;
  transition: left 0.4s ease-in-out;
  z-index: -1;
}

.header.is-open .header-background {
  left: 0;
}

.navigation {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  position: relative;
}

.navigation-list {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  padding: 32px;
  gap: 26px;
  background: #000;
  border-radius: 0 0 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: right 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
}

.navigation-list.is-open {
  right: 0;
  opacity: 1;
}

.navigation-link {
  font-family: Archivo, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #c9c9c9;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #fff;
}

.navigation-logo {
  display: none;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 235px;
  justify-content: end;
  margin: auto;
}

.menu-button {
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.icon {
  transition: transform 0.4s ease, opacity 0.4s ease;
  position: absolute;
}

.icon-menu {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.icon-close {
  opacity: 0;

  transform: rotate(-90deg) scale(0);
}

.menu-button.is-open .icon-menu {
  opacity: 0;
  transform: rotate(90deg) scale(0);
}

.menu-button.is-open .icon-close {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

@media screen and (min-width: 1200px) {
  .navigation {
    flex-direction: row;
    padding: 0;
    max-width: 1440px;
    margin: auto;
  }

  .navigation-list {
    position: static;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 100%;
    height: auto;
    padding: 0;
    gap: 43px;
    opacity: 1;
  }

  .navigation-logo {
    display: block;
    margin-right: 148px;
  }

  .header-logo,
  .menu-button {
    display: none;
  }

  .navigation-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }
}

.hero {
  width: 375px;
  height: 812px;
  margin: auto;
  background: center/cover no-repeat url("/img/home/Hero (3).png");
}

.hero-container {
  width: 375px;
  padding-top: 80px;
}

.hero-title-img {
  width: 100%;
}

.hero-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-family: Archivo;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  padding: 24px 0 16px;
}

.hero-text {
  font-family: Archivo;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  color: #f8f8f8;
}

.hero-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 80px;
  transition: all 0.6s ease-in-out;
}

.hero-link {
  width: 256px;
  height: 59px;
  padding: 16px 32px;
  border-radius: 24px;
  background: #000;
  font-family: Archivo;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #f8f8f8;
  text-decoration: none;
  transition: all 0.6s ease-in-out;
}

.hero-link:hover {
  background: linear-gradient(90deg, #55beff 0%, #fa9239 100%);
  color: #000;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1440px;
    height: 784px;
    background-image: url("/img/home/Hero (4).png");
  }

  .hero-container {
    width: 1440px;
    padding-top: 80px;
  }

  .hero-title {
    font-size: 64px;
    padding: 40px 160px;
  }

  .hero-text {
    font-size: 28px;
    padding: 0 352px;
  }

  .hero-links {
    flex-direction: row;
    gap: 32px;
  }
}

.about {
  margin: auto;
  width: 375px;
  height: 674px;
  background: center/cover no-repeat url("/img/About Us (1).png");
}

.about-container {
  width: 375px;
  padding: 40px 16px 0;
  margin: auto;
}

.gradient-title-one {
  font-family: Archivo;
  font-weight: 900;
  font-size: 40px;
  background: linear-gradient(180deg, #424242 9.48%, #000 88.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-title-two {
  display: none;
}

.gradient-title {
  font-family: Archivo;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  background: linear-gradient(90deg, #55beff 0%, #fa9239 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -13px;
  width: fit-content;
}

.about-text {
  font-family: Archivo;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-top: 40px;
}

@media screen and (min-width: 1200px) {
  .about {
    width: 1440px;
    height: 483px;
    background-image: url("/img/About Us (2).png");
  }

  .about-container {
    width: 1440px;
    padding: 80px 0 0 160px;
  }

  .gradient-title-one {
    display: none;
  }

  .gradient-title-two {
    display: block;
    font-family: Archivo;
    font-weight: 900;
    font-size: 64px;
    line-height: 120%;
    background: linear-gradient(180deg, #424242 20.78%, #000 77.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
  }

  .about-text {
    font-size: 20px;
    line-height: 150%;
    width: 544px;
    margin-top: 40px;
  }
}

.projects-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.projects-list {
  padding-top: 19px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-item {
  border-radius: 24px;
  gap: 16px;
  padding: 16px;
  background: #141414;
}

.project-figure {
  width: 311px;
}

.project-name {
  font-family: Archivo;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #818181;
  padding-bottom: 16px;
}

.project-bold {
  font-family: Archivo;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #818181;
  padding: 16px 0 0;
}

.project-text {
  font-family: Archivo;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

@media screen and (min-width: 1200px) {
  .projects {
    width: 1440px;
    height: 2294px;
    margin: auto;
    background-image: url("/img/why/Realized Projects.png");
  }

  .projects-container {
    width: 1440px;
    padding: 80px 160px;
  }

  .projects-list {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .project-item {
    width: 544px;
    border-radius: 24px;
    gap: 16px;
    padding: 24px;
  }

  .project-figure {
    width: 496px;
  }

  .project-name {
    font-size: 28px;
    line-height: 130%;
  }

  .project-bold {
    font-size: 20px;
  }

  .project-text {
    font-size: 18px;
  }
}
.reviews-container {
  margin: auto;
  padding: 40px 16px;
  width: 375px;
}

.reviews-list {
  padding-top: 40px;
}
.reviews-list-desk {
  display: none;
}

.review-item {
  margin: 0 8px;
  width: 327px;
  height: 144px;
  border-radius: 24px;
  gap: 16px;
  padding: 16px;
  background: #141414;
}

.review-text-bold {
  font-family: Archivo;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  height: 72px;
  margin-bottom: 16px;
}

.review-text {
  font-family: Archivo;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
  color: #818181;
}

@media screen and (min-width: 1200px) {
  .reviews-container {
    margin: auto;
    padding: 80px 160px;
    width: 1440px;
  }

  .reviews-list {
    display: none;
  }
  .reviews-list-desk {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 80px;
  }
  .review-item {
    margin: 0;
    width: 352px;
    height: 196px;
    border-radius: 24px;
    gap: 16px;
    padding: 24px;
  }

  .review-text-bold {
    font-weight: 300;
    font-size: 18px;
    height: 108px;
    margin-bottom: 16px;
  }
}
.how-container {
  margin: auto;
  width: 375px;
  padding: 40px 16px;
}

.how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.how-item {
  width: 343px;
  display: flex;
  gap: 16px;
}

.how-number {
  font-family: Archivo;
  font-weight: 900;
  font-size: 48px;
  line-height: 90%;
  background: linear-gradient(90deg, #424242 11.46%, #000000 88.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-right: 1px solid;
  border-image-source: linear-gradient(180deg, #55beff 0%, #fa9239 100%);
  border-image-slice: 1;
  padding-right: 16px;
  height: 127px;
}

.how-step {
  font-family: Archivo;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #818181;
}
.how-step-text {
  font-family: Archivo;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .how-container {
    width: 1440px;
    padding: 80px 160px;
  }

  .how-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 80px;
    padding-top: 80px;
  }

  .how-item {
    width: 352px;
    height: 127px;
  }

  .how-number {
    font-size: 64px;
  }

  .how-step {
    font-size: 20px;
  }
  .how-step-text {
    font-size: 18px;
  }
}
.why-container {
  margin: auto;
  width: 375px;
  padding: 40px 16px;
}

.why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.why-item {
  border-radius: 24px;
  gap: 4px;
  padding: 16px;
  background: #141414;
  font-family: Archivo, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.why-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #818181;
  padding-bottom: 4px;
}

.why-note {
  font-family: Archivo, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #818181;
  padding-top: 40px;
}

.why-note-text {
  font-family: Archivo, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .why-container {
    width: 1440px;
    padding: 80px 160px;
  }

  .why-list {
    padding-top: 80px;
    flex-direction: row;
    gap: 32px;
  }

  .why-item {
    width: 256px;
    height: 193px;
    padding: 24px;
    font-size: 18px;
  }

  .why-item-title {
    font-size: 20px;
  }

  .why-note,
  .why-note-text {
    font-size: 18px;
  }
}

.faq-container {
  padding: 40px 16px 40px;
  width: 375px;
  margin: auto;
}

.faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  border-radius: 24px;
  padding: 16px 24px;
  gap: 8px;
  background: #141414;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Archivo, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #818181;
}

.faq-answer {
  font-family: Archivo, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding-top: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 8px;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-button img {
  transition: transform 0.3s ease;
  width: 30px;
  height: 30px;
}

.toggle-button img.rotated {
  transform: rotate(180deg);
}

@media screen and (min-width: 1200px) {
  .faq-container {
    padding: 80px 160px;
    width: 1440px;
    margin: auto;
  }

  .faq-list {
    padding-top: 80px;
    flex-direction: column;
    gap: 16px;
    width: 832px;
  }

  .faq-question {
    font-weight: 500;
    font-size: 20px;
  }

  .faq-answer {
    font-weight: 400;
    font-size: 18px;
  }
}

.container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Archivo, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

.container h1,
.container h2,
.container h3 {
  font-family: Archivo, sans-serif;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container h1 {
  font-size: 28px;
  line-height: 120%;
  width: fit-content;
  background: linear-gradient(90deg, #55beff 0%, #fa9239 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 32px;
}

.container h2 {
  font-size: 22px;
}

.container h3 {
  font-size: 18px;
}

.container ul {
  margin-top: 10px;
  margin-left: 20px;
  list-style-type: disc;
}

.container ul li {
  margin-bottom: 10px;
}

.container p {
  margin-top: 10px;
}

.container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.container a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 160px 160px 80px;
    width: 1440px;
    font-size: 18px;
  }

  .container h1 {
    font-size: 36px;
    line-height: 120%;

    background: linear-gradient(90deg, #55beff 0%, #fa9239 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .container h2 {
    font-size: 28px;
  }

  .container h3 {
    font-size: 20px;
  }

  .container ul,
  .container p {
    margin-top: 20px;
  }
}

.footer-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-text,
.footer-copyright {
  font-family: Archivo, sans-serif;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

.footer-text {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  text-align: center;
}

.footer-copyright {
  font-size: 11px;
  text-align: center;
}

.footer-title {
  width: 343px;
}

.footer-links-mobile {
  display: flex;
  gap: 46px;
}

.footer-img {
  width: 32px;
}

.footer-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer-links-desktop {
  display: none;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    width: 1440px;
    padding: 40px 160px 16px;
    gap: 80px;
  }

  .footer-group {
    flex-direction: row;
    justify-content: space-between;
    gap: 693px;
  }

  .footer-wrapper {
    align-items: flex-start;
    width: 175px;
  }

  .footer-text {
    font-size: 18px;
    text-align: left;
  }

  .footer-copyright {
    font-size: 12px;
    text-align: right;
    margin-top: 63px;
  }

  .footer-links-desktop {
    display: flex;
    gap: 24px;
  }

  .footer-links-mobile {
    display: none;
  }

  .footer-title {
    width: 1120px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 375px;
  padding: 32px 49px;
  border-radius: 24px;
  background: #000;

  z-index: 1000;

  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.cookie-popup.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.cookie-popup-text {
  font-family: Archivo, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 24px;
  color: #c9c9c9;
}

.cookie-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.cookie-button {
  border: 1px solid #c9c9c9;
  border-radius: 28px;
  padding: 16px;
  width: 256px;
  font-family: Archivo, sans-serif;
  font-weight: 500;
  font-size: 20px;
  background: transparent;
  color: #c9c9c9;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cookie-button.accept {
  background: #f8f8f8;
  color: #000;
}

.cookie-button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1200px) {
  .cookie-popup {
    width: 1440px;
    padding: 32px;
  }
  .cookie-popup-container {
    display: flex;
    gap: 32px;
    justify-content: space-between;
  }
  .cookie-popup-text {
    text-align: left;
    width: 622px;
    margin-bottom: 0;
  }

  .cookie-button-container {
    flex-direction: row;
    gap: 32px;
  }
}
