<footer class="footer">
  <div class="footer-container">
    <div class="footer-group">
      <div class="footer-links-mobile">
        <a href="https://www.instagram.com" target="_blank">
          <img
            class="footer-img"
            src="/img/footer/instagram-fill.png"
            alt="instagram"
          />
        </a>
        <a href="https://www.youtube.com" target="_blank">
          <img class="footer-img" src="/img/footer/youtube.png" alt="youtube" />
        </a>
        <a href="https://www.tiktok.com" target="_blank">
          <img class="footer-img" src="/img/footer/tiktok.png" alt="tiktok" />
        </a>
        <a href="https://x.com/" target="_blank">
          <img
            class="footer-img"
            src="/img/footer/fa6-brands_sqtwitter.png"
            alt="twitter"
          />
        </a>
        <a href="https://www.linkedin.com" target="_blank">
          <img
            class="footer-img"
            src="/img/footer/linkedin.png"
            alt="linkedin"
          />
        </a>
      </div>

      <div class="footer-wrapper">
        <a class="footer-text" href="/policy.html">Privacy Policy</a>
        <a class="footer-text" href="/terms.html">Terms and Conditions</a>
        <a class="footer-text" href="/cookies.html">Cookies Policy</a>
      </div>

      <div>
        <div class="footer-links-desktop">
          <a href="https://www.instagram.com" target="_blank">
            <img
              class="footer-img"
              src="/img/footer/instagram-fill.png"
              alt="instagram"
            />
          </a>
          <a href="https://www.youtube.com" target="_blank">
            <img
              class="footer-img"
              src="/img/footer/youtube.png"
              alt="youtube"
            />
          </a>
          <a href="https://www.tiktok.com" target="_blank">
            <img class="footer-img" src="/img/footer/tiktok.png" alt="tiktok" />
          </a>
          <a href="https://x.com/" target="_blank">
            <img
              class="footer-img"
              src="/img/footer/fa6-brands_sqtwitter.png"
              alt="twitter"
            />
          </a>
          <a href="https://www.linkedin.com" target="_blank">
            <img
              class="footer-img"
              src="/img/footer/linkedin.png"
              alt="linkedin"
            />
          </a>
        </div>
        <p class="footer-copyright">
          © All rights reserved synthriva.com, 2025
        </p>
      </div>
    </div>

    <img class="footer-title" src="/img/footer/SYNTRIVA.png" alt="SYNTRIVA" />
  </div>
</footer>
