<header class="header">
  <div class="header-background"></div>

  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-item">
        <a href="/" class="navigation-link">
          <img
            class="navigation-logo"
            src="img/500x500.png"
            alt="logo"
            width="44"
            height="44"
          />
        </a>
      </li>
      <li class="navigation-item">
        <a href="/" class="navigation-link">Home</a>
      </li>
      <li class="navigation-item">
        <a href="/#about" class="navigation-link">About Us</a>
      </li>
      <li class="navigation-item">
        <a href="/#projects" class="navigation-link">Realized Projects</a>
      </li>
      <li class="navigation-item">
        <a href="/#reviews" class="navigation-link">Reviews</a>
      </li>
      <li class="navigation-item">
        <a href="/#how" class="navigation-link">How It Works</a>
      </li>
      <li class="navigation-item">
        <a href="/#why" class="navigation-link">Innovation & Technology</a>
      </li>
      <li class="navigation-item">
        <a href="/#faq" class="navigation-link">FAQ</a>
      </li>
    </ul>

    <div class="header-controls">
      <a href="/" class="header-logo">
        <img src="img/500x500.png" alt="logo" width="44" height="44" />
      </a>

      <button type="button" class="menu-button" data-menu-button>
        <svg class="icon icon-menu" width="64" height="64">
          <use href="/img/sprite.svg#icon-menu"></use>
        </svg>
        <svg class="icon icon-close" width="64" height="64">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </nav>
</header>
